{% extends 'index.html' %}

{% block content %}
{% load custom_filters %}
    <style>
    body {
        background-color: #c46c98;

        }

    h1 {

    font-family: Verdana, sans-serif;
    }

    .list_group {
            color: #3D8D7A;
            font-size: 20px;
        }

    .list-group-item {
         background-color: #c46c98;
         border: none;
    }

    a {
       color: #f29bc7;

    }

    a:hover {
            color: #633054;
        }

    .add_comment {
            color: #f29bc7;
        }
    </style>
    <h2>{{ pub.title }}</h2>
    <p>{{ pub.content }}</p>
    <h6>{{ pub.publicate_date }}</h6>


    <a href="{% url 'pub_edit' pub.pk %}">Edit</a>
    <a href="{% url 'pub_delete' pub.pk %}">Delete</a>
    <a href="{% url 'pub_list' %}">Back to List</a>

<h2>Comments</h2>
    {% if comments %}
        {% for comment in comments %}
            <div class="comment">
                <p><strong>{{ comment.author.username }}</strong>:</p>
                <p>{{ comment.contents }}</p>

                {% if comment.media_file %}
                    <div class="comment-media">
                        {% if comment.media_file.url|endswith:".jpg" or comment.media_file.url|endswith:".png" or comment.media_file.url|endswith:".jpeg" %}
                            <img src="{{ comment.media_file.url }}" alt="Зображення коментаря" style="max-width: 1000px;">
                        {% elif comment.media_file.url|endswith:".mp4" %}
                            <video width="320" height="240" controls>
                                <source src="{{ comment.media_file.url }}" type="video/mp4">
                                Your browser does not support the video tag.
                            </video>
                        {% else %}
                            <a href="{{ comment.media_file.url }}">Завантажити файл</a>
                        {% endif %}
                    </div>
                {% endif %}
            </div>
            <hr>
        {% endfor %}
    {% else %}
        <p>No comments yet.</p>
    {% endif %}

    <h3>Leave a Comment</h3>
    <form action="{% url 'add_comment' pub.pk %}" method="post" enctype="multipart/form-data">
        {% csrf_token %}
        {{ comment_form.as_p }}
        <button type="submit">Відправити</button>
    </form>
{% endblock %}